html,
    body {
      position: relative;
      height: 100%;
    }

    body {
      background: #eee;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color: #000;
      margin: 0;
      padding: 0;
    }

    .container {
      max-width: 1200px;
      margin: 0 auto;
    }

    .swiper {
      margin-top: 50px;
      width: 100%;
      /*height: 100%;*/
      height: auto;
    }

    .swiper-slide {
      height: 100;
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

.swiper-slide__item {
      height: auto;
      max-width: 250px;
      margin-right: 25px;
  }

  .swiper-img {
    min-height: 300px;
}

.swiper-slide__title {
  margin: 25px 0 25px 25px;
  text-align: start;
   -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  -ms-line-clamp: 2;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  display: -webkit-box;
  display: box;
  word-wrap: break-word;
  -webkit-box-orient: vertical;
  box-orient: vertical;

}

.swiper-slide {
  height: auto;
}
