html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.swiper {
  margin-top: 50px;
  width: 100%;
  /*height: 100%;*/
  height: auto;
}

.swiper-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  min-height: 300px;
}

.swiper-slide__item {
  font-size: 18px;
}

.swiper-slide__title {
  margin: 25px;
  text-align: start;
  overflow: hidden;
  height: 42px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}
